{% load humanize %}
<article class="product-card">
   <div class="card-image-wrapper">
      <a href="{{ home.get_absolute_url }}" style="width: fit-content; height: fit-content;">
         <img src="{{ home.main_image.url }}" alt="{{ home.name }} modular home" loading="lazy" >

         {% if home.badge %}
            <span class="card-badge">{{ home.badge }}</span>
         {% endif %}
      </a>
      
   </div>

   <div class="card-content">
      <div class="card-meta flex">
         <span class="meta-tag">{{ home.category.name }}</span>

         <span class="meta-specs flex">
            <svg width="14" height="14" fill="none" stroke="currentColor" viewBox="0 0 24 24">
               <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 16l4.586-4.586a2 2 0 012.828 0L16 16m-2-2l1.586-1.586a2 2 0 012.828 0L20 14m-6-6h.01M6 20h12a2 2 0 002-2V6a2 2 0 00-2 2v12a2 2 0 002 2z" />
            </svg>
            {{ home.gallery.count }} Image{{ home.gallery.count|pluralize }}
         </span>
      </div>

      <a href="{{ home.get_absolute_url }}" class="heading-md"><h3 class="heading-md card-title"> {{ home.name }}</h3></a>

      <div class="spec-grid grid">
         <div class="spec-item">
            <span class="spec-val">{{ home.square_feet|intcomma  }}</span>
            <span class="spec-lbl">SQ FT</span>
         </div>

         <div class="spec-item">
            <span class="spec-val">{{ home.bedrooms }}</span>
            <span class="spec-lbl">BED</span>
         </div>

         <div class="spec-item">
            <span class="spec-val">{{ home.bathrooms }}</span>
            <span class="spec-lbl">BATH</span>
         </div>
      </div>

      <div class="price-container flex">
         <div class="price-main">
            <span class="price-rate">${{ home.price_per_sqft|floatformat:0 }}</span>
            <span class="price-unit">/ sq ft</span>
         </div>

         <div class="price-total text-muted">${{ home.price|intcomma  }}</div>
      </div>

      <a href="{{ home.get_absolute_url }}" class="btn btn-primary btn-full mt-2">
         View Configuration
         <svg width="16" height="16" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
         </svg>
      </a>
   </div>
</article>
