# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# ==========================
# Virtual Environment
# ==========================
venv/
env/
ENV/
.venv/

# ==========================
# Environment Variables
# ==========================
.env
.env.*

# ==========================
# Django
# ==========================
db.sqlite3
db.sqlite3-journal

media/
staticfiles/

# Logs
*.log

# ==========================
# IDE
# ==========================
.vscode/
.idea/

# ==========================
# OS Files
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Pytest
# ==========================
.pytest_cache/
.coverage
htmlcov/

# ==========================
# Mypy
# ==========================
.mypy_cache/

# ==========================
# Ruff
# ==========================
.ruff_cache/

# ==========================
# Build
# ==========================
build/
dist/
*.egg-info/

# ==========================
# Node (if used)
# ==========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ==========================
# Temporary
# ==========================
*.tmp
*.swp