{% load static %}
<!-- FOOTER SECTION -->
<footer class="footer">
   <div class="container">

      <div class="footer-wrapper">

         <div class="footer-brand">
               <a href="{% url 'home' %}" class="footer-logo">
                  <img src="{% static 'images/logo/logo-footer.png' %}" alt="{{ site.name }} | Martin Boxabl | martinboxabl.com">
               </a>
               <p>Martin Boxabl specializes in modern modular and prefab homes, combining innovative building technology with efficient designs for affordable, flexible, and sustainable living.</p>

            <div class="footer-contact mt-4">
               <h3>About MArtin Boxabl</h3>
               <ul>
                  {% if site.phone %}
                  <li><a href="tel:{{ site.phone }}">{{ site.phone }}</a></li>
                  {% endif %}

                  {% if site.email %}
                  <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
                  {% endif %}

                  {% if site.address %}
                  <li>{{ site.address }}</li>
                  {% endif %}
               </ul>
            </div>
         </div>

         <div class="footer-links">
               <h3>Quick Links</h3>
               <ul>
                  <li><a href="{% url 'about' %}">About Martin</a></li>
                  <li><a href="{{ blog_page.url }}">Articles</a></li>
                  <li><a href="{% url 'shop' %}">Boxabl Homes</a></li>
                  <li><a href="{% url 'category_list' %}">Boxabl Homes Categories</a></li>
                  <li><a href="{% url 'home_types_listing' %}">Boxabl Homes Types</a></li>
                  <li><a href="{% url 'gallery' %}">Our Gallery</a></li>
                  <li><a href="{% url 'contact' %}">Contact</a></li>
               </ul>

               <h3 class="mt-4">Home Categories</h3>
               <ul>
                  {% for category in footer_categories %}
                  <li>
                     <a href="{{ category.get_absolute_url }}">{{ category.name }}</a>
                  </li>
                  {% endfor %}
               </ul>
         </div>

         <div class="footer-social">
            <h3>Follow Us</h3>
            <div class="social-links">
               <a href="{{ site.facebook_link }}" class="text-success me-3" aria-label="Facebook">Facebook</a>
               <a href="{{ site.instagram_link }}" class="text-success me-3" aria-label="Instagram">Instagram</a>
               <a href="{{ site.tiktok_link }}" class="text-success me-3" aria-label="TikTok">TikTok</a>
            </div>

            <div class="mt-4">
               <h3 class="heading h4 pb-3 d-flex align-items-center">
                  <i class="bi bi-shield-check text-success fs-4 pe-2"></i>
                  Secure Payments
               </h3>
               <div class="payment-cards d-flex align-items-center flex-wrap gap-3">
                  <button class="card bitcoin">
                     <img src="{% static 'images/logo/bitcoin.jpg' %}" alt="Bitcoin payment logo | Martin Boxabl | martinboxabl.com" class="card-img">
                  </button>
                  <button class="card paypal d-none">
                        <img class="card-image" src="{% static 'images/logo/paypal.jpg' %}" alt="PayPal payment logo | Martin Boxabl | martinboxabl.com" class="card-img">
                  </button>
                  <button class="card cashapp">
                        <img class="card-image" src="{% static 'images/logo/cash-app.jpg' %}" alt="Cash App payment logo | Martin Boxabl | martinboxabl.com" class="card-img">
                  </button>
                  <button class="card walmart">
                        <img class="card-image" src="{% static 'images/logo/walmart.jpg' %}" alt="Walmart payment logo | Martin Boxabl | martinboxabl.com" class="card-img">
                  </button>
                  <button class="card applepay">
                        <img class="card-image" src="{% static 'images/logo/apple-pay.jpg' %}" alt="Apple Pay payment logo | Martin Boxabl | martinboxabl.com" class="card-img">
                  </button>
                  <button class="card moneygram">
                        <img class="card-image" src="{% static 'images/logo/money-gram.jpg' %}" alt="MoneyGram payment logo | Martin Boxabl | martinboxabl.com" class="card-img">
                  </button>
                  <button class="card westernunion">
                        <img class="card-image" src="{% static 'images/logo/western-union.jpg' %}" alt="Western Union payment logo | Martin Boxabl | martinboxabl.com" class="card-img">
                  </button>
                  <button class="card zelle">
                        <img class="card-image" src="{% static 'images/logo/zelle.jpg' %}" alt="Zelle payment logo | Martin Boxabl | martinboxabl.com" class="card-img">
                  </button>
               </div>
               <p class="text pt-3 text-white" style="font-size: 12px;">
                  NOTE* All Gift Cards Accepted.
                  Your payment details are secured. All the information is protected using Secure Sockets Layer (SSL) technology.
               </p>
            </div>

         </div>

      </div>

      <div class="footer-bottom">
         <p>© {% now "Y" %} {{ site.name|default:"Martin Boxabl" }}. All Rights Reserved.</p>
      </div>

   </div>
</footer>